:root {
  --background-color: #36384d;
  --primary-color: #ff5f51;
  --secondary-color: #232742;
  --important-text-color: #252745;
  --card-background-color: #ffffff;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto-Regular", "Roboto-Bold", sans-serif;
  overflow: hidden;
}

.newsletter-form-signup {
  width: 60%;
  height: 70%;
  background-color: var(--card-background-color);
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 20px;
  border-radius: 25px;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.377);
  transition: transform 0.5s;
}

.newsletter-form-signup > div {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
}

.newsletter-form-content {
  margin: 55px;
  justify-content: center;
}

.newsletter-form-title {
  font-size: 3.7em;
  font-family: "Roboto-Bold", sans-serif;
  margin: 0;
  width: 100%;

  letter-spacing: 2px;

  color: var(--important-text-color);
}

.newsletter-form-description {
  font-size: 1.1em;
  line-height: 1.5;
  width: 100%;
}

.newsletter-form-updates {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.newsletter-form-update {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 1em;
  height: 35px;
}

.newsletter-form-update > img {
  width: 25px;
  height: 20px;
}

.newsletter-form-image {
  object-fit: cover;

  height: 100%;
  width: 100%;
  border-radius: 25px;
}

label {
  color: var(--important-text-color);
  font-family: "Roboto-Bold";
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.email-error {
  color: var(--primary-color);
}

.newsletter-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 30%;
  gap: 20px;
}

input {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 0;
  font-size: 1em;
}

#newsletter-form-email-input {
  border: 1px solid gray;
  text-align: start;
  padding: 0 0 0 20px;
  height: 30%;
  width: 95% !important;
  font-family: "Roboto-Regular", sans-serif;
  transition: border 0.5s, background-color 0.5s, color 0.3s;
}

.email-error-input {
  border: 1px solid var(--primary-color) !important;
  background-color: #ff683e25;
}

input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  font-family: "Roboto-Bold", sans-serif;
  transition: box-shadow 0.5s;
  height: 60px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff537a, #ff683e);
  box-shadow: 0 20px 30px #ff537b71;
}

/* TODO: SUCCESS MESSAGE BOX DESIGN */
.success-message-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 25%;
  height: 45%;
  background-color: white;
  padding: 5%;
  border-radius: 25px;
  transition: transform 0.5s;
}

.success-message-icon {
  width: 70px;
  height: 70px;
  margin: 0 0 25px 0;
}

.inactive-right {
  transform: translateX(200%);
  position: absolute;
}

.inactive-left {
  transform: translateX(-150%);
  position: absolute;
}

@media (max-width: 1000px) {
  .newsletter-form-signup {
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .newsletter-form-signup > .newsletter-form-content {
    width: 100%;
  }

  .newsletter-form-image {
    display: none;
  }

  .newsletter-form-updates {
    gap: 30px;
  }

  .inactive-right {
    transform: translateX(250%);
  }

  .success-message-box {
    width: 100%;
    height: 100%;
    font-size: large;
  }

  .success-message-box > input {
    height: 10%;
  }
}
